.text {
    max-width: 1200px;
    margin: auto;
    font-family: sans-serif;
    font-size: 20px;
    background-color: white;
    padding: 25px;
}

img {
    max-width: 1000px;
}

body {
    background-color: aliceblue;
}

.py-repl-output {
    margin: 20px;
    padding: 20px;
    background-color: aliceblue;
    border-width: 2px;
    border-color: darkgrey;
}

.interactive-input {
    font-size: 16px;
    font-family: monospace;
    width: 100%;
}

.interactive-output {
    font-size: 16px;
    font-family: monospace;
    color: #1b1322;
    width: 100%;
    background-color: floralwhite;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.interactive {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    border-radius: 20px;
    background-color: floralwhite;
    padding: 30px;
    margin: 20px;
}

.py-button {
    margin: 5px;
}